<%if (config.share.enable){ %>
	<div class="share" style="width: 100%;">
 
	<img src="<%= config.share.img%>" alt="apply" style="margin: auto; display: block;"/>

	<div style="margin: auto; text-align: center; font-size: 0.8em; color: grey;"><%= config.share.title%></div>
  
</div>
<% } %>