<% if (config.valine.enable){ %>
	<script src="//cdn1.lncld.net/static/js/3.0.4/av-min.js"></script>
    <script src='//unpkg.com/valine/dist/Valine.min.js'></script>

	<div id="vcomments"></div>
  <script>
		var appId = '<%= config.valine.app_id %>';
		var appKey = '<%= config.valine.app_key %>';
        new Valine({
            el: '#vcomments',
            appId: appId,
            appKey: appKey,
			notify:false, 
			verify:true, 
			visitor:false,
			avatar:'mm', 
			placeholder: '写下你的想法'
        })
    </script>

<% } %>